---
apiVersion: ec2.aws.crossplane.io/v1beta1
kind: NATGateway
metadata:
  name: {{ .Resource.Name | kebab }}
spec:
  forProvider:
  {{- range .Resource.Properties }}
  {{- if eq .Name "subnet_id" }}
    subnetIdRef:
      name: {{ .Value | kebab }}
  {{- else if eq .Name "allocation_id" }}
    allocationId: {{ .Value }}
  {{- else if eq .Name "connectivity_type" }}
    connectivityType: {{ .Value }}
  {{- end }}
  {{- end }}
    tags:
      - key: Name
        value: {{ .Resource.Name }}